div.code-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100dvw;
    height: 100dvh;

    background: rgba(1, 1, 1, 0.25);
    animation: form-appear 750ms ease-out forwards;
}

div.code-popup > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

div.code-popup > div > img {
    position: absolute;
    top: 1rem;
    right: 1rem;

    cursor: pointer;
}

div.code-popup > div > pre {
    padding: 1.15rem 1.25rem;

    border: 1px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--background) !important;
}
